---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../components/Prose.astro";
const pageTitle = "Thank you for signing up! ";
---

<BaseLayout title="pageTitle" is404Page={false}>
  <Prose>
    <h1 class="font-overpass-mono text-4xl">
      {pageTitle}
    </h1>
    <h2 class="font-overpass-mono text-2xl italic">
      Welcome to the Uplove family.
    </h2>
    <p>You have successfully subscribed to our organisation and will receive your discount code shortly.</p>
      <p>We have sent a confirmation link to your email address. Please confirm your subscription via the same to start receiving our latest newsletters, other updates and of course your 15% discount code.</p>
    <div>

      <a
        href="/"
        class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded inline-block no-underline"
        data-astro-reload
      >
        Go Home
      </a>
    </div>
  </Prose>
</BaseLayout>

