---
import Icon from "astro-icon";
---

<div class="w-1/3 flex flex-col justify-center items-center gap-3">
  <p class="text-xl font-semibold opacity-60">Are you following us?</p>
  <ul class="w-1/3 flex gap-0 items-center justify-between">
    <li>
      <a
        href="#"
        title="Shop Uplove on Etsy"
        target="_blank"
        rel="nofollow"
        class="opacity-45 hover:opacity-100"
      >
        <Icon name="mdi:etsy" class="h-12 w-12" />
      </a>
    </li>
    <li>
      <a
        href="#"
        title="Follow us on Insta"
        class="opacity-45 hover:opacity-100"
      >
        <Icon name="mdi:instagram" class="h-12 w-12" />
      </a>
    </li>
    <li>
      <a
        href="#"
        title="Follow us on Facebook"
        class="opacity-45 hover:opacity-100"
      >
        <Icon name="mdi:facebook" class="h-12 w-12" />
      </a>
    </li>
  </ul>
</div>

