---
const today = new Date();
import { Icon } from "astro-icon";
---

<footer class="fixed bottom-0 left-0 top-auto flex flex-wrap md:flex-nowrap justify-between items-center align-center font-baloo-2 w-full h-20 md:h-12 p-2 md:p-8 z-30 bg-black/50 backdrop-blur-lg" >
  <div class="text-xs md:text-sm text-justify items-center flex justify-center">
    &copy; {today.getFullYear()} Uplove Vintage. All rights reserved.
  </div>
  <div class="flex justify-center gap-3 m-2 sm:m-0">
    <a href="https://facebook.com/uplovevintage" target="_blank">
      <span class="sr-only">Follow Uplove on Facebook</span>
      <Icon name="mdi:facebook" class="h-[20px] w-[20px]" />
    </a>
      <a href="https://www.etsy.com/uplovevintage/" target="_blank">
      <span class="sr-only">Shop for  Uploved Vintage on Etsy</span>
      <Icon name="mdi:etsy" class="h-[20px] w-[20px]" />
    </a>
    <a href="https://www.instagram.com/uplovevintage/" target="_blank">
      <span class="sr-only">Follow Uplove Vintage on Instragram</span>
      <Icon name="mdi:instagram" class="h-[20px] w-[20px]" />
    </a>
    <a href="https://foresite.rocks" target="_blank" class="text-xs md:text-sm">
      <span>Website by Fores<span class="text-cyan-500">i</span>te<span class="text-green-500">.</span></span>
      <!-- <Icon name="hugeicons:web-design-02" class="h-[20px] w-[20px]" /> -->
    </a>
  </div>
  <slot />
</footer>
<script src="../scripts/rss.js"></script>