---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import { getImage, Image } from "astro:assets";

import logoImg from '../images/logo.png';
import Icon from "astro-icon";

const { is404Page = false } = Astro.props; // Get the prop from Astro.props

const logoImage = await getImage({
  src: "https://cdn.uplovevintage.co.uk/cdn-favicon.png",
  alt: "favicon",
  // inferSize: true,
  width: "400",
  height: "400",
  decoding: "async",
  format: "avif"
});
---

<header class="z-50 px-2 md:px-5 w-full flex items-center justify-center fixed inset-0 bottom-auto h-12 md:h-16">
  <nav
    class="flex items-center justify-between w-full h-full relative align-center  sm:max-w-screen-sm md:max-w-screen-md lg:max-w-[1750px]"
  >
    <!-- {
      !is404Page && (
        <div class="">
          <a href="/">
            <Image
              class="favicon w-11 md:w-14"
              src={logoImage.src}
              alt="Home"
              width="88"
              height="88"
              loading="eager"
            />
          </a>
        </div>
      )
    } -->
    <!-- {
      !is404Page && (
        <div class="absolute right-[55px] -mb-[5px]">
          <ThemeIcon />
        </div>
      )
    } -->
    <!-- {
      !is404Page && (
        <div class="-mt-[3px]">
          <Hamburger />
        </div>
      )
    }
    {
      !is404Page && (
        <div class="absolute right-0">
          <Navigation />
        </div>
      )
    } -->
  </nav>
  <slot />
  <div
  class="large-heart w-full h-full z-0 inset-0 bg-white/10 dark:bg-black/5 mix-blend-overlay overflow-y-visible fixed pointer-events-none overflow-hidden"
>
  <Icon
    name="header-bg"
    class="hidden sm:block md:h-auto w-auto md:w-full opacity-5 drop-shadow-lg shadow-black backdrop-blur-xl"
  />
</div>
</header>
