---
import Icon from "astro-icon";
---

<div
  class="shadow-vignette w-screen h-screen md:h-screen z-10 fixed inset-0 bg-green-600/30 dark:bg-green-800/30 pointer-events-none"
>
</div>
<div
  class="large-heart w-screen h-screen z-[11] inset-0 bg-white/10 dark:bg-black/10 mix-blend-overlay overflow-y-visible fixed pointer-events-none"
>
  <Icon
    name="logo-heart-cut"
    class="h-full md:h-auto w-auto md:w-5/6 -translate-y-16 md:-translate-y-28 drop-shadow-lg shadow-black"
  />
</div>

